body {
    background-image: url(pay-937884_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    width: 60%;
    border: 5px solid gray;
    background-color: lightgray;
    padding: 10px;
    border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
}